<div class="container">
  <div class="row bg-cardmain">
    <div class="col">Project Name</div>
    <div class="col">Date</div>
    <div class="col">Rule Status</div>
  </div>
  <div class="row bg-card" [routerLink]="['geoData']">
    <div class="col">Project One</div>
    <div class="col">12-Nv-2021</div>
    <div class="col">
      <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
      <i class="fa fa-trash fa-2x mx-3" aria-hidden="true"></i>
    </div>
  </div>
  <div class="row bg-card">
    <div class="col">Project One</div>
    <div class="col">12-Nv-2021</div>
    <div class="col">
      <a href="">Add Rule</a>
    </div>
  </div>
</div>
