<div class="container mt-4">
    <div class=" clearfix pb-4" [routerLink]="['/dashboard/create-project']">

        <button type="button" class="btn btn-success btn-md  float-right" >
            Create Project
        </button>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row bg-card">
                    <div class="col align-middle">Project Name</div>
                    <div class="col">Date</div>
                    <div class="col">Desc</div>
                    <div class="col">Actions</div>
                </div>
                <div class="row bg-cardmain">
                    <div class="col">Project One</div>
                    <div class="col">13 nov 2021, 7:30 PM</div>
                    <div class="col">Lorem Ipsum is simply dummy text</div>
                    <div class="col">
                        <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                        <i class="fa fa-trash fa-2x mx-3" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="row bg-cardmain">
                    <div class="col">Project One</div>
                    <div class="col">13 nov 2021, 7:30 PM</div>
                    <div class="col">Lorem Ipsum is simply dummy text</div>
                    <div class="col">
                        <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                        <i class="fa fa-trash fa-2x mx-3" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="row bg-cardmain">
                    <div class="col">Project One</div>
                    <div class="col">13 nov 2021, 7:30 PM</div>
                    <div class="col">Lorem Ipsum is simply dummy text</div>
                    <div class="col">
                        <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                        <i class="fa fa-trash fa-2x mx-3" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="row bg-cardmain">
                    <div class="col">Project One</div>
                    <div class="col">13 nov 2021, 7:30 PM</div>
                    <div class="col">Lorem Ipsum is simply dummy text</div>
                    <div class="col">
                        <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                        <i class="fa fa-trash fa-2x mx-3" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="row bg-cardmain">
                    <div class="col">Project One</div>
                    <div class="col">13 nov 2021, 7:30 PM</div>
                    <div class="col">Lorem Ipsum is simply dummy text</div>
                    <div class="col">
                        <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                        <i class="fa fa-trash fa-2x mx-3" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="row bg-cardmain">
                    <div class="col">Project One</div>
                    <div class="col">13 nov 2021, 7:30 PM</div>
                    <div class="col">Lorem Ipsum is simply dummy text</div>
                    <div class="col">
                        <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                        <i class="fa fa-trash fa-2x mx-3" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
