.geoserver-layers-delete-btn{
    position: absolute;
    z-index: 1;
    top: 125px;
    left: 10px;
    background-color: #7596b4;
}

.geoserver-layers-delete-pnl{
    position: absolute;
    top: 125px;
    left: 10px;
    /* width: 300px; */
    padding:10px;
    background-color: white;
    /* display: flex;  */
    z-index: 1;
}