<div class="container mt-4">
    <div class="row">
        <div class="col-4 card-left">
            <h1 class="text-center">Attribute Values</h1>
            <form>
                <div class="mb-3">
                    <label for="formGroupExampleInput" >Grid</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Grid">
                  </div>
                  <div class="mb-3">
                    <label for="formGroupExampleInput2" >Gistool_id</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Gistool_id">
                  </div>
                  <div class="mb-3">
                    <label for="formGroupExampleInput2" >Exchange</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Exchange">
                  </div>
                  <div class="mb-3">
                    <label for="formGroupExampleInput2" >Plant_item</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Plant_item">
                  </div>
                  <div class="mb-3">
                    <label for="formGroupExampleInput2" >Obj_class</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Obj_class">
                  </div>
                  <div class="mb-3">
                    <label for="formGroupExampleInput2" >Statuscode</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Statuscode">
                  </div>
                  <div class="mb-3">
                    <label for="formGroupExampleInput2" >Type_name</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Type_name">
                  </div>
                  <div class="mb-3">
                    <label for="formGroupExampleInput2" >Category</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Category">
                  </div>
                  <div class="mb-3">
                    <label for="formGroupExampleInput2" >Struc_name</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Struc_name">
                  </div>
                  <div class="mb-3">
                    <label for="formGroupExampleInput2" >Object_id</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Object_id">
                  </div>
                  <div class="mb-3">
                    <label for="formGroupExampleInput2" >Rotation</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Rotation">
                  </div>

            </form>


        </div>
        <div class="col-8 card-right">Google API Data Review</div>
        <div class=" pt-4" >
            <button type="button"  [routerLink]="['/dashboard/connection-handeling']"  class="btn btn-warning btn-md  pull-right">
               Back
            </button>
        </div>
    </div>
</div>